QListView{
     color:#303284;
}



QListView::item:selected {
    border: 1px solid black;
    color:#303284;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #8b8b8b, stop: 0.3 #CECECE );
}


QListView::item:hover {
  border: 1px solid black;
 background-color:#CECECE;
}